.carousel{
    margin-top: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136f;
}
.btn-buy-now{
    background-image: linear-gradient(to top , #FF589B 0% , #FF136F 100%);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.categories{
    margin-top: 100px;
}
.container{
    margin-bottom: 100px;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: rgb(67, 67, 201);
}
.categories h1{
    color: white;
}
.margin{
margin-bottom: 50px;
}